In [172]:
import pandas as pd
import numpy as np
import geopandas as gpd
import topojson as tp
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
from os import listdir
from os.path import isfile, join
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.graphics.api as smg

sns.set(style="whitegrid", font_scale=1.25)

# file_folder = "./sal/"
# files = listdir(file_folder)

# suburbs = pd.read_csv("./act_suburbs.csv", index_col="code")
# suburbs.index = ["SAL" + str(code) for code in suburbs.index]

# metadata = pd.read_excel(
#     "./root/metadata/Metadata_2021_GCP_DataPack_R1.xlsx",
#     sheet_name=1,
#     header=10,
#     index_col="Sequential"
# )

# for i, file in enumerate(files):
#     key = file.split("_")[1]
    
#     file_data = pd.read_csv(
#         f"{file_folder}/{file}",
#         index_col="SAL_CODE_2021"
#     )
#     file_data.columns = [metadata[(metadata["DataPackfile"] == key) & (metadata["Short"] == string)]["Long"][0] for string in file_data.columns]

#     suburbs = suburbs.join(file_data, lsuffix=f"_v{i}")

# suburbs.index.name = "code"
# suburbs.to_csv("./raw_suburb_data.csv")

suburbs = pd.read_csv("./raw_suburb_data.csv", index_col="code")

In [173]:
data = suburbs.loc[:, "north":"name"].copy()

data["population"] = suburbs["Total_Persons_Persons"]
data["age_4"] = suburbs["Age_groups_0_4_years_Persons"] / suburbs["Total_Persons_Persons"]
data["age_14"] = data["age_4"] + suburbs["Age_groups_5_14_years_Persons"] / data["population"]
data["age_19"] = data["age_14"] + suburbs["Age_groups_15_19_years_Persons"] / data["population"]
data["age_24"] = data["age_19"] + suburbs["Age_groups_20_24_years_Persons"] / data["population"]
data["age_34"] = data["age_24"] + suburbs["Age_groups_25_34_years_Persons"] / data["population"]
data["age_44"] = data["age_34"] + suburbs["Age_groups_35_44_years_Persons"] / data["population"]
data["age_54"] = data["age_44"] + suburbs["Age_groups_45_54_years_Persons"] / data["population"]
data["age_64"] = data["age_54"] + suburbs["Age_groups_55_64_years_Persons"] / data["population"]
data["age_74"] = data["age_64"] + suburbs["Age_groups_65_74_years_Persons"] / data["population"]
data["age_84"] = data["age_74"] + suburbs["Age_groups_75_84_years_Persons"] / data["population"]
data["indigenous"] = suburbs["Aboriginal_and_or_Torres_Strait_Islander_Persons_Total_Persons"] / data["population"]
data["born_overseas"] = suburbs["Birthplace_Elsewhere_Persons"] / (suburbs["Birthplace_Australia_Persons"] + suburbs["Birthplace_Elsewhere_Persons"])
data["other_language"] = suburbs["Language_used_at_home_Other_Language_Persons"] / (suburbs["Language_used_at_home_Other_Language_Persons"] + suburbs["Language_used_at_home_English_only_Persons"])
data["citizens"] = suburbs["Australian_citizen_Persons"] / data["population"]
data["median_age"] = suburbs["Median_age_of_persons"]
data["median_personal_income"] = suburbs["Median_total_personal_income_weekly"]
data["median_family_income"] = suburbs["Median_total_family_income_weekly"]
data["people_per_bedroom"] = suburbs["Average_number_of_Persons_per_bedroom"]
data["median_household_income"] = suburbs["Median_total_household_income_weekly"]
data["household_size"] = suburbs["Average_household_size"]
data["married"] = suburbs["PERSONS_Total_Married"] / suburbs["PERSONS_Total_Total_v6"]
data["divorced"] = suburbs["PERSONS_Total_Divorced"] / suburbs["PERSONS_Total_Total_v6"]
data["parent_overseas"] = (suburbs["Australian_Both_parents_born_overseas"] + suburbs["Australian_Father_only_born_overseas"] + suburbs["Australian_Mother_only_born_overseas"]) / suburbs["Australian_Total_responses"]
data["afghanistan_born"] = suburbs["PERSONS_Afghanistan_Age_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["bangladesh_born"] = suburbs["PERSONS_Bangladesh_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["bosnia_born"] = suburbs["PERSONS_Bosnia_and_Herzegovina_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["brazil_born"] = suburbs["PERSONS_Brazil_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["cambodia_born"] = suburbs["PERSONS_Cambodia_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["canada_born"] = suburbs["PERSONS_Canada_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["chile_born"] = suburbs["PERSONS_Chile_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["china_born"] = suburbs["PERSONS_China_excludes_SARs_and_Taiwan_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["eygypt_born"] = suburbs["PERSONS_Egypt_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["england_born"] = suburbs["PERSONS_England_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["france_born"] = suburbs["PERSONS_France_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["fiji_born"] = suburbs["PERSONS_Fiji_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["greece_born"] = suburbs["PERSONS_Greece_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["germany_born"] = suburbs["PERSONS_Germany_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["hongkong_born"] = suburbs["PERSONS_Hong_Kong_SAR_of_China_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["india_born"] = suburbs["PERSONS_India_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["indonesia_born"] = suburbs["PERSONS_Indonesia_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["iran_born"] = suburbs["PERSONS_Iran_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["iraq_born"] = suburbs["PERSONS_Iraq_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["ireland_born"] = suburbs["PERSONS_Ireland_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["italy_born"] = suburbs["PERSONS_Italy_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["japan_born"] = suburbs["PERSONS_Japan_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["korea_born"] = suburbs["PERSONS_Korea_Republic_of_South_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["lebanon_born"] = suburbs["PERSONS_Lebanon_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["malaysia_born"] = suburbs["PERSONS_Malaysia_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["malta_born"] = suburbs["PERSONS_Malta_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["mauritius_born"] = suburbs["PERSONS_Mauritius_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["myanmar_born"] = suburbs["PERSONS_Myanmar_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["nepal_born"] = suburbs["PERSONS_Nepal_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["netherlands_born"] = suburbs["PERSONS_Netherlands_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["newzealand_born"] = suburbs["PERSONS_New_Zealand_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["northmacedonia_born"] = suburbs["PERSONS_North_Macedonia_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["pakistan_born"] = suburbs["PERSONS_Pakistan_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["png_born"] = suburbs["PERSONS_Papua_New_Guinea_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["philippines_born"] = suburbs["PERSONS_Philippines_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["poland_born"] = suburbs["PERSONS_Poland_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["samoa_born"] = suburbs["PERSONS_Samoa_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["scotland_born"] = suburbs["PERSONS_Scotland_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["singapore_born"] = suburbs["PERSONS_Singapore_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["southafrica_born"] = suburbs["PERSONS_South_Africa_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["srilanka_born"] = suburbs["PERSONS_Sri_Lanka_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["taiwan_born"] = suburbs["PERSONS_Sri_Lanka_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["thailand_born"] = suburbs["PERSONS_Thailand_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["turkey_born"] = suburbs["PERSONS_Turkey_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["us_born"] = suburbs["PERSONS_United_States_of_America_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["vietnam_born"] = suburbs["PERSONS_Vietnam_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["wales_born"] = suburbs["PERSONS_Wales_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["zimbabwe_born"] = suburbs["PERSONS_Zimbabwe_Total"] / suburbs["PERSONS_Total_Total_v30"]
# data["asian_born"] = data["afghanistan_born"] + data["bangladesh_born"] + data["cambodia_born"] + data["china_born"] + data["hongkong_born"] + data["india_born"] + data["indonesia_born"] + data["japan_born"] + data["korea_born"] + data["malaysia_born"] + data["myanmar_born"] + data["nepal_born"] + data["pakistan_born"] + data["philippines_born"] + data["singapore_born"] + data["srilanka_born"] + data["taiwan_born"] + data["thailand_born"] + data["vietnam_born"]
# data["east_asian_born"] = data["cambodia_born"] + data["china_born"] + data["hongkong_born"] + data["indonesia_born"] + data["japan_born"] + data["korea_born"] + data["malaysia_born"] + data["myanmar_born"] + data["philippines_born"] + data["singapore_born"] + data["taiwan_born"] + data["thailand_born"] + data["vietnam_born"]
data["buddhist"] = suburbs["Buddhism_Persons"] / suburbs["Total_Persons_v32"]
data["christian"] = suburbs["Christianity_Total_Persons"] / suburbs["Total_Persons_v32"]
data["hindu"] = suburbs["Hinduism_Persons"] / suburbs["Total_Persons_v32"]
data["islam"] = suburbs["Islam_Persons"] / suburbs["Total_Persons_v32"]
data["jewish"] = suburbs["Judaism_Persons"] / suburbs["Total_Persons_v32"]
data["secular"] = suburbs["Secular_Beliefs_and_Other_Spiritual_Beliefs_and_No_Religious_Affiliation_Total_Persons"] / suburbs["Total_Persons_v32"]
data["public_school_primary"] = (suburbs["Primary_Government_Persons"]) / suburbs["Primary_Total_Primary_Persons"]
data["public_school_secondary"] = (suburbs["Secondary_Government_Persons"]) / suburbs["Secondary_Total_Secondary_Persons"]
data["personal_income_nil"] = suburbs["PERSONS_Negative_Nil_income_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_149"] = data["personal_income_nil"] + suburbs["PERSONS_1_149_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_299"] = data["personal_income_149"] + suburbs["PERSONS_150_299_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_399"] = data["personal_income_299"] + suburbs["PERSONS_300_399_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_499"] = data["personal_income_399"] + suburbs["PERSONS_400_499_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_649"] = data["personal_income_499"] + suburbs["PERSONS_500_649_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_799"] = data["personal_income_649"] + suburbs["PERSONS_650_799_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_999"] = data["personal_income_799"] + suburbs["PERSONS_800_999_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_999"] = data["personal_income_799"] + suburbs["PERSONS_800_999_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_1249"] = data["personal_income_999"] + suburbs["PERSONS_1000_1249_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_1499"] = data["personal_income_1249"] + suburbs["PERSONS_1250_1499_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_1749"] = data["personal_income_1499"] + suburbs["PERSONS_1500_1749_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_1999"] = data["personal_income_1749"] + suburbs["PERSONS_1750_1999_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_2999"] = data["personal_income_1999"] + suburbs["PERSONS_2000_2999_more_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_3499"] = data["personal_income_2999"] + suburbs["PERSONS_3000_3499_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["disabled"] = suburbs["PERSONS_Total_Has_need_for_assistance"] / suburbs["PERSONS_Total_Total_v48"]
data["military_service"] = suburbs["PERSONS_Has_served_in_the_Australian_Defence_Total_ever_served_Age_Total"] / suburbs["PERSONS_Total_Age_Total"]
data["volunteer"] = suburbs["PERSONS_Total_Volunteer"] / suburbs["PERSONS_Total_Total_v50"]
data["housework"] = suburbs["PERSONS_Total_Provided_unpaid_assistance"] / suburbs["PERSONS_Total_Total_v53"]
data["single_parent"] = suburbs["PERSONS_Lone_parent_Total"] / suburbs["PERSONS_Total_Total"]
data["group_housemate"] = suburbs["PERSONS_Group_household_member_Total"] / suburbs["PERSONS_Total_Total"]
data["motor_vehicles_none"] = suburbs["Number_of_motor_vehicles_per_dwelling_No_motor_vehicles_Dwellings"] / suburbs["Total_Dwellings"]
data["motor_vehicles_1_or_less"] = data["motor_vehicles_none"] + suburbs["Number_of_motor_vehicles_per_dwelling_One_motor_vehicle_Dwellings"] / suburbs["Total_Dwellings"]
data["motor_vehicles_4_plus"] = suburbs["Number_of_motor_vehicles_per_dwelling_Four_or_more_motor_vehicles_Dwellings"] / suburbs["Total_Dwellings"]
data["motor_vehicles_3_plus"] = data["motor_vehicles_4_plus"] + suburbs["Number_of_motor_vehicles_per_dwelling_Three_motor_vehicles_Dwellings"] / suburbs["Total_Dwellings"]
data["townhouse_dwellers"] = suburbs["Occupied_private_dwellings_Semi_detached_row_or_terrace_house_townhouse_etc_with_Total_Persons"] / suburbs["Occupied_private_dwellings_Total_occupied_private_dwellings_Persons"]
data["unit_dwellers"] = suburbs["Occupied_private_dwellings_Flat_or_apartment_Total_Persons"] / suburbs["Occupied_private_dwellings_Total_occupied_private_dwellings_Persons"]
data["owned_dwelling"] = suburbs["Owned_outright_Total"] / suburbs["Total_Total_v66"]
data["mortgaged_dwelling"] = suburbs["Owned_with_a_mortgage_Total"] / suburbs["Total_Total_v66"]
data["rented_dwelling"] = suburbs["Rented_Total_Total"] / suburbs["Total_Total_v66"]
data["public_housing"] = suburbs["Total_Landlord_type_State_or_territory_housing_authority"] / suburbs["Total_Total_v69"]

data = data.dropna()[data.dropna()["population"] >= 500]

for feature in data.columns[3:]:    
    min_value = data[feature].min()
    max_value = data[feature].max()
    value_range = max_value - min_value
    data.loc[:, feature] = (data[feature] - min_value) / value_range

In [157]:
regressors = pd.DataFrame()
regressors.index.name = "regressor"

for feature in data.columns[3:]:
    model = smf.logit(formula=f"north ~ {feature} + I({feature}**2)", data=data)
    results = model.fit(disp=0)

    regressors.at[feature, "p-value"] = results.llr_pvalue
    regressors.at[feature, "r-squared"] = results.prsquared

regressors = regressors.sort_values("r-squared", ascending=False)

predictors = ["vietnam_born"]

while len(predictors) < 5:
    print(f"testing against the following predictors: {', '.join(predictors)} ...")

    print("establishing test scores ...")
    tests = pd.DataFrame(
        index=[feature for feature in regressors.index if feature not in predictors]
    )
    
    print("testing against each regressor ...")

    for feature in tests.index:
        formula_A = "north ~ " + " + ".join([x + f" + I({x}**2)" for x in predictors])
        formula_B = "north ~ " + " + ".join([x + f" + I({x}**2)" for x in predictors]) + " + " + feature + f" + I({feature}**2)"
        model_A = smf.logit(formula=formula_A, data=data)
        model_B = smf.logit(formula=formula_B, data=data)
        results_A = model_A.fit(disp=0)
        results_B = model_B.fit(disp=0)
        tests.at[feature, "p value"] = results_B.llr_pvalue
        tests.at[feature, "R squared"] = results_B.prsquared
        tests.at[feature, "AIC improvement"] =  results_A.aic - results_B.aic

    tests = tests.sort_values("AIC improvement", ascending=False)
    
    print("tests complete")
    print("optimal regressor is", tests.index[0])
    print()
    
    predictors.append(tests.index[0])

predictors

testing against the following predictors: vietnam_born ...
establishing test scores ...
testing against each regressor ...
tests complete
optimal regressor is secular

testing against the following predictors: vietnam_born, secular ...
establishing test scores ...
testing against each regressor ...
tests complete
optimal regressor is age_24

testing against the following predictors: vietnam_born, secular, age_24 ...
establishing test scores ...
testing against each regressor ...
tests complete
optimal regressor is personal_income_2999

testing against the following predictors: vietnam_born, secular, age_24, personal_income_2999 ...
establishing test scores ...
testing against each regressor ...
tests complete
optimal regressor is single_parent

['vietnam_born', 'secular', 'age_24', 'personal_income_2999', 'single_parent']

In [169]:
model = smf.logit(
    formula="north ~ " + " + ".join([x + f" + I({x}**2)" for x in predictors]),
    data=data
)
results = model.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.071826
         Iterations 14

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  north   No. Observations:                  103
Model:                          Logit   Df Residuals:                       92
Method:                           MLE   Df Model:                           10
Date:                Fri, 05 Aug 2022   Pseudo R-squ.:                  0.8963
Time:                        16:19:16   Log-Likelihood:                -7.3980
converged:                       True   LL-Null:                       -71.350
Covariance Type:            nonrobust   LLR p-value:                 1.249e-22
================================================================================================
                                   coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------
Intercept                     -109.6110     69.856     -1.569      0.117    -246.527      27.305
vietnam_born                    72.3402     54.220      1.334      0.182     -33.928     178.609
I(vietnam_born ** 2)           -15.3345     81.302     -0.189      0.850    -174.684     144.015
secular                       -213.6523    144.516     -1.478      0.139    -496.898      69.594
I(secular ** 2)                251.3719    147.371      1.706      0.088     -37.469     540.213
age_24                        -107.4948     58.156     -1.848      0.065    -221.478       6.488
I(age_24 ** 2)                 110.6272     54.452      2.032      0.042       3.903     217.351
personal_income_2999           440.0008    226.286      1.944      0.052      -3.512     883.514
I(personal_income_2999 ** 2)  -250.7903    133.303     -1.881      0.060    -512.060      10.479
single_parent                 -111.2801     55.223     -2.015      0.044    -219.515      -3.045
I(single_parent ** 2)           73.8662     37.497      1.970      0.049       0.373     147.360
================================================================================================

Possibly complete quasi-separation: A fraction 0.67 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [170]:
data["prediction"] = round(results.predict(data)).astype("int")

print("sensitivity:", f"{len(data[(data['prediction'] == 1) & (data['north'] == 1)]) / len(data[data['north'] == 1]):.1%}")
print("specificity:", f"{len(data[(data['prediction'] == 0) & (data['north'] == 0)]) / len(data[data['north'] == 0]):.1%}")
print("accuracy:", f"{len(data[data['prediction'] == data['north']]) / len(data):.1%}")

sensitivity: 98.1%
specificity: 98.0%
accuracy: 98.1%

In [171]:
geodata = gpd.read_file("./SAL_2021_AUST_GDA2020_SHP.zip").iloc[:, [0, 10]]
geodata.columns = ["code", "geometry"]
geodata["code"] = geodata["code"].apply(lambda x: "SAL" + str(x).zfill(5))
geodata.set_index("code", inplace=True)
geodata = geodata.loc[data.index, :]
geodata = geodata.join(data.loc[:, ["north", "name"] + predictors + ["prediction"]])

for i in range(5):    
    model = smf.logit(
        formula="north ~ " + " + ".join([x + f" + I({x}**2)" for x in predictors[i:i + 1]]),
        data=data
    )
    results = model.fit(disp=0)
    
    geodata[f"predict_{predictors[i]}"] = round(results.predict(geodata))

geodata = geodata[["north", "name", "prediction"] + ["predict_" + x for x in predictors] + ["geometry"]]

geodata.loc[:, "predict_vietnam_born":"predict_single_parent"] = geodata.loc[:, "predict_vietnam_born":"predict_single_parent"].astype("int")
geodata.columns = ["north", "name", "prediction", "born in Vietnam", "secular", "aged under 25", "earns $156,000+", "single parents", "geometry"]

geodata.to_file("./census_suburbs.geojson", driver="GeoJSON")

topo = tp.Topology(
    geodata,
    toposimplify=1e-4
).topoquantize(1e3)
topo.to_json("./census_suburbs.topojson")

geodata

,north,name,prediction,born in Vietnam,secular,aged under 25,"earns $156,000+",single parents,geometry
code,,,,,,,,,
SAL80018,1,Ainslie,1,1,1,0,0,1,"POLYGON ((149.14678 -35.27445, 149.14452 -35.2..."
SAL80019,1,Amaroo,1,1,0,1,1,1,"POLYGON ((149.13886 -35.17383, 149.13596 -35.1..."
SAL80020,1,Aranda,1,0,1,1,0,1,"POLYGON ((149.07488 -35.25286, 149.07507 -35.2..."
SAL80021,0,Banks,0,0,0,1,1,0,"POLYGON ((149.09670 -35.46388, 149.09837 -35.4..."
SAL80022,0,Barton,0,0,1,0,0,1,"POLYGON ((149.13979 -35.30208, 149.14202 -35.3..."
...,...,...,...,...,...,...,...,...,...
SAL80131,1,Watson,1,1,1,1,1,0,"POLYGON ((149.15731 -35.24600, 149.15712 -35.2..."
SAL80132,1,Weetangera,1,1,1,1,0,1,"POLYGON ((149.05442 -35.25720, 149.05424 -35.2..."
SAL80133,0,Weston,0,0,0,0,0,0,"POLYGON ((149.06344 -35.33025, 149.06343 -35.3..."
SAL80135,0,Wright,0,0,0,1,1,1,"POLYGON ((149.03402 -35.31617, 149.03435 -35.3..."
SAL80136,0,Yarralumla,0,0,0,0,0,1,"POLYGON ((149.10725 -35.31232, 149.10611 -35.3..."