In [23]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
from os import listdir
from os.path import isfile, join
sns.set(style="whitegrid", font_scale=1.25)

file_folder = "./root/data/SAL/AUS/"
files = listdir(file_folder)

suburb_list = pd.read_csv("./act_suburbs.csv", index_col="code")
suburb_list.index = ["SAL" + str(code) for code in suburb_list.index]
suburb_list.index.name = "code"
suburb_list

pd.read_csv(
    f"{file_folder}/{files[0]}",
    index_col="SAL_CODE_2021"
).T

SAL_CODE_2021,SAL10001,SAL10002,SAL10003,SAL10004,SAL10005,SAL10006,SAL10007,SAL10008,SAL10009,SAL10010,...,SAL80136,SAL89494,SAL89797,SAL90001,SAL90002,SAL90003,SAL90004,SAL90005,SAL99494,SAL99797
Tot_P_M,18,2067,2560,546,12,1247,1049,64,3156,1311,...,1498,336,0,1006,230,149,1060,74,6,0
Tot_P_F,12,2129,2876,582,14,1295,1000,53,3393,1235,...,1628,273,0,685,215,158,1130,69,4,0
Tot_P_P,33,4200,5431,1127,21,2542,2051,121,6552,2544,...,3120,605,0,1692,448,310,2188,147,11,0
Age_0_4_yr_M,0,85,150,31,0,89,67,4,257,101,...,67,18,0,45,18,7,59,5,0,0
Age_0_4_yr_F,0,95,129,35,0,86,46,0,277,78,...,56,9,0,41,14,14,41,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Count_psns_occ_priv_dwgs_F,10,2089,2714,570,7,1242,950,55,3311,1187,...,1565,0,0,495,178,145,962,62,0,0
Count_psns_occ_priv_dwgs_P,22,4092,5156,1082,24,2441,1935,115,6324,2429,...,2987,0,0,1049,364,267,1842,125,0,0
Count_Persons_other_dwgs_M,0,52,99,11,0,42,59,0,68,37,...,54,0,0,617,35,121,220,80,0,0
Count_Persons_other_dwgs_F,3,46,144,12,0,43,42,3,72,19,...,44,0,0,314,36,53,221,72,0,0
Count_Persons_other_dwgs_P,5,99,240,16,0,86,103,0,133,61,...,97,0,0,935,67,178,443,150,0,0