In [283]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
from os import listdir
from os.path import isfile, join
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.graphics.api as smg

sns.set(style="whitegrid", font_scale=1.25)

# file_folder = "./sal/"
# files = listdir(file_folder)

# suburbs = pd.read_csv("./act_suburbs.csv", index_col="code")
# suburbs.index = ["SAL" + str(code) for code in suburbs.index]

# metadata = pd.read_excel(
#     "./root/metadata/Metadata_2021_GCP_DataPack_R1.xlsx",
#     sheet_name=1,
#     header=10,
#     index_col="Sequential"
# )

# for i, file in enumerate(files):
#     key = file.split("_")[1]
    
#     file_data = pd.read_csv(
#         f"{file_folder}/{file}",
#         index_col="SAL_CODE_2021"
#     )
#     file_data.columns = [metadata[(metadata["DataPackfile"] == key) & (metadata["Short"] == string)]["Long"][0] for string in file_data.columns]

#     suburbs = suburbs.join(file_data, lsuffix=f"_v{i}")

# suburbs.index.name = "code"
# suburbs.to_csv("./raw_suburb_data.csv")

suburbs = pd.read_csv("./raw_suburb_data.csv", index_col="code")

In [284]:
data = suburbs.loc[:, "north":"name"].copy()

data["population"] = suburbs["Total_Persons_Persons"]
data["age_4"] = suburbs["Age_groups_0_4_years_Persons"] / suburbs["Total_Persons_Persons"]
data["age_14"] = data["age_4"] + suburbs["Age_groups_5_14_years_Persons"] / data["population"]
data["age_19"] = data["age_14"] + suburbs["Age_groups_15_19_years_Persons"] / data["population"]
data["age_24"] = data["age_19"] + suburbs["Age_groups_20_24_years_Persons"] / data["population"]
data["age_34"] = data["age_24"] + suburbs["Age_groups_25_34_years_Persons"] / data["population"]
data["age_44"] = data["age_34"] + suburbs["Age_groups_35_44_years_Persons"] / data["population"]
data["age_54"] = data["age_44"] + suburbs["Age_groups_45_54_years_Persons"] / data["population"]
data["age_64"] = data["age_54"] + suburbs["Age_groups_55_64_years_Persons"] / data["population"]
data["age_74"] = data["age_64"] + suburbs["Age_groups_65_74_years_Persons"] / data["population"]
data["age_84"] = data["age_74"] + suburbs["Age_groups_75_84_years_Persons"] / data["population"]
data["indigenous"] = suburbs["Aboriginal_and_or_Torres_Strait_Islander_Persons_Total_Persons"] / data["population"]
data["born_overseas"] = suburbs["Birthplace_Elsewhere_Persons"] / (suburbs["Birthplace_Australia_Persons"] + suburbs["Birthplace_Elsewhere_Persons"])
data["other_language"] = suburbs["Language_used_at_home_Other_Language_Persons"] / (suburbs["Language_used_at_home_Other_Language_Persons"] + suburbs["Language_used_at_home_English_only_Persons"])
data["citizens"] = suburbs["Australian_citizen_Persons"] / data["population"]
data["median_age"] = suburbs["Median_age_of_persons"]
data["median_personal_income"] = suburbs["Median_total_personal_income_weekly"]
data["median_family_income"] = suburbs["Median_total_family_income_weekly"]
data["people_per_bedroom"] = suburbs["Average_number_of_Persons_per_bedroom"]
data["median_household_income"] = suburbs["Median_total_household_income_weekly"]
data["household_size"] = suburbs["Average_household_size"]
data["married"] = suburbs["PERSONS_Total_Married"] / suburbs["PERSONS_Total_Total_v6"]
data["divorced"] = suburbs["PERSONS_Total_Divorced"] / suburbs["PERSONS_Total_Total_v6"]
data["parent_overseas"] = (suburbs["Australian_Both_parents_born_overseas"] + suburbs["Australian_Father_only_born_overseas"] + suburbs["Australian_Mother_only_born_overseas"]) / suburbs["Australian_Total_responses"]
data["afghanistan_born"] = suburbs["PERSONS_Afghanistan_Age_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["bangladesh_born"] = suburbs["PERSONS_Bangladesh_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["bosnia_born"] = suburbs["PERSONS_Bosnia_and_Herzegovina_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["brazil_born"] = suburbs["PERSONS_Brazil_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["cambodia_born"] = suburbs["PERSONS_Cambodia_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["canada_born"] = suburbs["PERSONS_Canada_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["chile_born"] = suburbs["PERSONS_Chile_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["china_born"] = suburbs["PERSONS_China_excludes_SARs_and_Taiwan_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["eygypt_born"] = suburbs["PERSONS_Egypt_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["england_born"] = suburbs["PERSONS_England_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["france_born"] = suburbs["PERSONS_France_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["fiji_born"] = suburbs["PERSONS_Fiji_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["greece_born"] = suburbs["PERSONS_Greece_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["germany_born"] = suburbs["PERSONS_Germany_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["hongkong_born"] = suburbs["PERSONS_Hong_Kong_SAR_of_China_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["india_born"] = suburbs["PERSONS_India_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["indonesia_born"] = suburbs["PERSONS_Indonesia_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["iran_born"] = suburbs["PERSONS_Iran_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["iraq_born"] = suburbs["PERSONS_Iraq_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["ireland_born"] = suburbs["PERSONS_Ireland_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["italy_born"] = suburbs["PERSONS_Italy_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["japan_born"] = suburbs["PERSONS_Japan_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["korea_born"] = suburbs["PERSONS_Korea_Republic_of_South_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["lebanon_born"] = suburbs["PERSONS_Lebanon_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["malaysia_born"] = suburbs["PERSONS_Malaysia_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["malta_born"] = suburbs["PERSONS_Malta_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["mauritius_born"] = suburbs["PERSONS_Mauritius_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["myanmar_born"] = suburbs["PERSONS_Myanmar_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["nepal_born"] = suburbs["PERSONS_Nepal_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["netherlands_born"] = suburbs["PERSONS_Netherlands_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["newzealand_born"] = suburbs["PERSONS_New_Zealand_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["northmacedonia_born"] = suburbs["PERSONS_North_Macedonia_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["pakistan_born"] = suburbs["PERSONS_Pakistan_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["png_born"] = suburbs["PERSONS_Papua_New_Guinea_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["philippines_born"] = suburbs["PERSONS_Philippines_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["poland_born"] = suburbs["PERSONS_Poland_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["samoa_born"] = suburbs["PERSONS_Samoa_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["scotland_born"] = suburbs["PERSONS_Scotland_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["singapore_born"] = suburbs["PERSONS_Singapore_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["southafrica_born"] = suburbs["PERSONS_South_Africa_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["srilanka_born"] = suburbs["PERSONS_Sri_Lanka_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["taiwan_born"] = suburbs["PERSONS_Sri_Lanka_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["thailand_born"] = suburbs["PERSONS_Thailand_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["turkey_born"] = suburbs["PERSONS_Turkey_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["us_born"] = suburbs["PERSONS_United_States_of_America_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["vietnam_born"] = suburbs["PERSONS_Vietnam_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["wales_born"] = suburbs["PERSONS_Wales_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["zimbabwe_born"] = suburbs["PERSONS_Zimbabwe_Total"] / suburbs["PERSONS_Total_Total_v30"]
data["buddhist"] = suburbs["Buddhism_Persons"] / suburbs["Total_Persons_v32"]
data["christian"] = suburbs["Christianity_Total_Persons"] / suburbs["Total_Persons_v32"]
data["hindu"] = suburbs["Hinduism_Persons"] / suburbs["Total_Persons_v32"]
data["islam"] = suburbs["Islam_Persons"] / suburbs["Total_Persons_v32"]
data["jewish"] = suburbs["Judaism_Persons"] / suburbs["Total_Persons_v32"]
data["secular"] = suburbs["Secular_Beliefs_and_Other_Spiritual_Beliefs_and_No_Religious_Affiliation_Total_Persons"] / suburbs["Total_Persons_v32"]
data["public_school_primary"] = (suburbs["Primary_Government_Persons"]) / suburbs["Primary_Total_Primary_Persons"]
data["public_school_secondary"] = (suburbs["Secondary_Government_Persons"]) / suburbs["Secondary_Total_Secondary_Persons"]
data["personal_income_nil"] = suburbs["PERSONS_Negative_Nil_income_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_149"] = data["personal_income_nil"] + suburbs["PERSONS_1_149_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_299"] = data["personal_income_149"] + suburbs["PERSONS_150_299_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_399"] = data["personal_income_299"] + suburbs["PERSONS_300_399_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_499"] = data["personal_income_399"] + suburbs["PERSONS_400_499_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_649"] = data["personal_income_499"] + suburbs["PERSONS_500_649_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_799"] = data["personal_income_649"] + suburbs["PERSONS_650_799_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_999"] = data["personal_income_799"] + suburbs["PERSONS_800_999_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_999"] = data["personal_income_799"] + suburbs["PERSONS_800_999_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_1249"] = data["personal_income_999"] + suburbs["PERSONS_1000_1249_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_1499"] = data["personal_income_1249"] + suburbs["PERSONS_1250_1499_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_1749"] = data["personal_income_1499"] + suburbs["PERSONS_1500_1749_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_1999"] = data["personal_income_1749"] + suburbs["PERSONS_1750_1999_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_2999"] = data["personal_income_1999"] + suburbs["PERSONS_2000_2999_more_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["personal_income_3499"] = data["personal_income_2999"] + suburbs["PERSONS_3000_3499_Total"] / suburbs["PERSONS_Total_Total_v38"]
data["disabled"] = suburbs["PERSONS_Total_Has_need_for_assistance"] / suburbs["PERSONS_Total_Total_v48"]
data["military_service"] = suburbs["PERSONS_Has_served_in_the_Australian_Defence_Total_ever_served_Age_Total"] / suburbs["PERSONS_Total_Age_Total"]
data["volunteer"] = suburbs["PERSONS_Total_Volunteer"] / suburbs["PERSONS_Total_Total_v50"]
data["housework"] = suburbs["PERSONS_Total_Provided_unpaid_assistance"] / suburbs["PERSONS_Total_Total_v53"]
data["single_parent"] = suburbs["PERSONS_Lone_parent_Total"] / suburbs["PERSONS_Total_Total"]
data["group_housemate"] = suburbs["PERSONS_Group_household_member_Total"] / suburbs["PERSONS_Total_Total"]
data["motor_vehicles_none"] = suburbs["Number_of_motor_vehicles_per_dwelling_No_motor_vehicles_Dwellings"] / suburbs["Total_Dwellings"]
data["motor_vehicles_1_or_less"] = data["motor_vehicles_none"] + suburbs["Number_of_motor_vehicles_per_dwelling_One_motor_vehicle_Dwellings"] / suburbs["Total_Dwellings"]
data["motor_vehicles_4_plus"] = suburbs["Number_of_motor_vehicles_per_dwelling_Four_or_more_motor_vehicles_Dwellings"] / suburbs["Total_Dwellings"]
data["motor_vehicles_3_plus"] = data["motor_vehicles_4_plus"] + suburbs["Number_of_motor_vehicles_per_dwelling_Three_motor_vehicles_Dwellings"] / suburbs["Total_Dwellings"]
data["townhouse_dwellers"] = suburbs["Occupied_private_dwellings_Semi_detached_row_or_terrace_house_townhouse_etc_with_Total_Persons"] / suburbs["Occupied_private_dwellings_Total_occupied_private_dwellings_Persons"]
data["unit_dwellers"] = suburbs["Occupied_private_dwellings_Flat_or_apartment_Total_Persons"] / suburbs["Occupied_private_dwellings_Total_occupied_private_dwellings_Persons"]
data["owned_dwelling"] = suburbs["Owned_outright_Total"] / suburbs["Total_Total_v66"]
data["mortgaged_dwelling"] = suburbs["Owned_with_a_mortgage_Total"] / suburbs["Total_Total_v66"]
data["rented_dwelling"] = suburbs["Rented_Total_Total"] / suburbs["Total_Total_v66"]
data["public_housing"] = suburbs["Total_Landlord_type_State_or_territory_housing_authority"] / suburbs["Total_Total_v69"]

data = data.dropna()[data.dropna()["population"] > 500]

for feature in data.columns[3:]:    
    min_value = data[feature].min()
    max_value = data[feature].max()
    value_range = max_value - min_value
    data.loc[:, feature] = (data[feature] - min_value) / value_range

C:\Users\mannheimm6l\AppData\Local\Temp\ipykernel_18280\3692461964.py:102: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data["single_parent"] = suburbs["PERSONS_Lone_parent_Total"] / suburbs["PERSONS_Total_Total"]
C:\Users\mannheimm6l\AppData\Local\Temp\ipykernel_18280\3692461964.py:103: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data["group_housemate"] = suburbs["PERSONS_Group_household_member_Total"] / suburbs["PERSONS_Total_Total"]
C:\Users\mannheimm6l\AppData\Local\Temp\ipykernel_18280\3692461964.py:104: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data["motor_vehicles_none"] = suburbs["Number_of_motor_vehicles_per_dwelling_No_motor_vehicles_Dwellings"] / suburbs["Total_Dwellings"]
C:\Users\mannheimm6l\AppData\Local\Temp\ipykernel_18280\3692461964.py:105: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data["motor_vehicles_1_or_less"] = data["motor_vehicles_none"] + suburbs["Number_of_motor_vehicles_per_dwelling_One_motor_vehicle_Dwellings"] / suburbs["Total_Dwellings"]
C:\Users\mannheimm6l\AppData\Local\Temp\ipykernel_18280\3692461964.py:106: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data["motor_vehicles_4_plus"] = suburbs["Number_of_motor_vehicles_per_dwelling_Four_or_more_motor_vehicles_Dwellings"] / suburbs["Total_Dwellings"]
C:\Users\mannheimm6l\AppData\Local\Temp\ipykernel_18280\3692461964.py:107: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data["motor_vehicles_3_plus"] = data["motor_vehicles_4_plus"] + suburbs["Number_of_motor_vehicles_per_dwelling_Three_motor_vehicles_Dwellings"] / suburbs["Total_Dwellings"]
C:\Users\mannheimm6l\AppData\Local\Temp\ipykernel_18280\3692461964.py:108: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data["townhouse_dwellers"] = suburbs["Occupied_private_dwellings_Semi_detached_row_or_terrace_house_townhouse_etc_with_Total_Persons"] / suburbs["Occupied_private_dwellings_Total_occupied_private_dwellings_Persons"]
C:\Users\mannheimm6l\AppData\Local\Temp\ipykernel_18280\3692461964.py:109: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data["unit_dwellers"] = suburbs["Occupied_private_dwellings_Flat_or_apartment_Total_Persons"] / suburbs["Occupied_private_dwellings_Total_occupied_private_dwellings_Persons"]
C:\Users\mannheimm6l\AppData\Local\Temp\ipykernel_18280\3692461964.py:110: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data["owned_dwelling"] = suburbs["Owned_outright_Total"] / suburbs["Total_Total_v66"]
C:\Users\mannheimm6l\AppData\Local\Temp\ipykernel_18280\3692461964.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data["mortgaged_dwelling"] = suburbs["Owned_with_a_mortgage_Total"] / suburbs["Total_Total_v66"]
C:\Users\mannheimm6l\AppData\Local\Temp\ipykernel_18280\3692461964.py:112: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data["rented_dwelling"] = suburbs["Rented_Total_Total"] / suburbs["Total_Total_v66"]
C:\Users\mannheimm6l\AppData\Local\Temp\ipykernel_18280\3692461964.py:113: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data["public_housing"] = suburbs["Total_Landlord_type_State_or_territory_housing_authority"] / suburbs["Total_Total_v69"]

In [300]:
regressors = pd.DataFrame()
regressors.index.name = "regressor"

for feature in data.columns[3:]:
    model = smf.logit(formula=f"north ~ {feature} + I({feature}**2)", data=data)
    results = model.fit(disp=0)

    regressors.at[feature, "p-value"] = results.llr_pvalue
    regressors.at[feature, "r-squared"] = results.prsquared

regressors.sort_values("r-squared").tail(50)

                              p-value  r-squared
regressor
motor_vehicles_none      2.387441e-02   0.052347
housework                1.951209e-02   0.055174
median_family_income     1.878403e-02   0.055707
rented_dwelling          1.709270e-02   0.057030
netherlands_born         1.533433e-02   0.058551
personal_income_1499     1.424614e-02   0.059583
islam                    1.387385e-02   0.059954
born_overseas            1.274228e-02   0.061146
median_personal_income   1.155668e-02   0.062515
indigenous               1.095483e-02   0.063265
eygypt_born              8.935260e-03   0.066121
france_born              7.489090e-03   0.068595
people_per_bedroom       7.280636e-03   0.068991
chile_born               6.698157e-03   0.070160
personal_income_1749     6.296028e-03   0.071027
age_14                   5.848734e-03   0.072060
scotland_born            5.497130e-03   0.072929
age_84                   5.242451e-03   0.073594
other_language           4.434254e-03   0.075941
personal_income_3499     4.053112e-03   0.077200
public_school_secondary  3.909232e-03   0.077707
personal_income_1999     2.809344e-03   0.082337
iraq_born                2.740863e-03   0.082683
age_74                   2.568598e-03   0.083593
citizens                 2.563103e-03   0.083623
personal_income_2999     2.489694e-03   0.084030
divorced                 2.128753e-03   0.086225
owned_dwelling           2.090268e-03   0.086481
military_service         1.989384e-03   0.087174
public_school_primary    1.355685e-03   0.092549
myanmar_born             1.101628e-03   0.095458
bosnia_born              8.683363e-04   0.098793
korea_born               4.904690e-04   0.106799
age_24                   4.719454e-04   0.107338
buddhist                 3.632762e-04   0.111006
age_64                   2.788444e-04   0.114713
indonesia_born           2.358581e-04   0.117060
secular                  1.208346e-04   0.126433
england_born             1.069381e-04   0.128146
group_housemate          1.048460e-04   0.128423
pakistan_born            8.776251e-05   0.130915
afghanistan_born         5.435662e-05   0.137630
cambodia_born            3.066459e-05   0.145653
median_age               9.565426e-06   0.161980
age_34                   7.839561e-06   0.164769
age_54                   7.224543e-06   0.165914
christian                6.577030e-06   0.167230
age_44                   5.410776e-06   0.169966
china_born               2.040305e-06   0.183635
vietnam_born             1.566200e-08   0.251884

In [299]:
data.columns

Index(['north', 'name', 'population', 'age_4', 'age_14', 'age_19', 'age_24',
       'age_34', 'age_44', 'age_54',
       ...
       'motor_vehicles_none', 'motor_vehicles_1_or_less',
       'motor_vehicles_4_plus', 'motor_vehicles_3_plus', 'townhouse_dwellers',
       'unit_dwellers', 'owned_dwelling', 'mortgaged_dwelling',
       'rented_dwelling', 'public_housing'],
      dtype='object', length=112)

In [307]:
model = smf.logit(
    formula=f"north ~ military_service",
    data=data
)
results = model.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.690205
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  north   No. Observations:                  103
Model:                          Logit   Df Residuals:                      101
Method:                           MLE   Df Model:                            1
Date:                Wed, 27 Jul 2022   Pseudo R-squ.:                0.003635
Time:                        19:31:08   Log-Likelihood:                -71.091
converged:                       True   LL-Null:                       -71.350
Covariance Type:            nonrobust   LLR p-value:                    0.4714
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            0.2419      0.334      0.725      0.469      -0.412       0.896
military_service    -1.5076      2.240     -0.673      0.501      -5.898       2.883
====================================================================================
"""

In [272]:
predictions = data.iloc[:, :2]
predictions["prediction"] = results.predict(data)
predictions = predictions.dropna()
for i in predictions.index:
    predictions.at[i, "accurate"] = True if abs(predictions.at[i, "north"] - predictions.at[i, "prediction"]) <= .5 else False

print()
print("sensitivity:", f"{len(predictions[(predictions['prediction'] > .5) & (predictions['north'] == 1)]) / len(predictions[predictions['north'] == 1]):.1%}")
print("specificity:", f"{len(predictions[(predictions['prediction'] <= .5) & (predictions['north'] == 0)]) / len(predictions[predictions['north'] == 0]):.1%}")
print("accuracy:", f"{len(predictions[predictions['accurate']]) / len(predictions):.1%}")

sensitivity: 71.7%
specificity: 80.0%
accuracy: 75.7%

In [291]:
suburbs

,north,name,Total_Persons_Males,Total_Persons_Females,Total_Persons_Persons,Age_groups_0_4_years_Males,Age_groups_0_4_years_Females,Age_groups_0_4_years_Persons,Age_groups_5_14_years_Males,Age_groups_5_14_years_Females,...,Dwelling_structure_not_stated_Group_households,Dwelling_structure_not_stated_Total,Total_Family_households_Couple_family_with_no_children,Total_Family_households_Couple_family_with_children,Total_Family_households_One_parent_family,Total_Family_households_Other_family,Total_Family_households_Total,Total_Lone_person_households,Total_Group_households,Total_Total
code,,,,,,,,,,,,,,,,,,,,,
SAL80017,1,Acton,1277,1569,2848,0,5,5,0,0,...,0,0,0,0,0,0,0,0,0,0
SAL80018,1,Ainslie,2536,2836,5376,138,120,261,334,303,...,0,5,473,599,189,20,1277,604,136,2018
SAL80019,1,Amaroo,3038,3093,6129,181,193,373,525,484,...,0,0,452,971,216,14,1651,344,42,2039
SAL80020,1,Aranda,1270,1335,2605,61,78,142,206,163,...,0,0,271,356,74,7,706,146,44,897
SAL80021,0,Banks,2545,2558,5100,162,158,319,390,369,...,0,0,415,726,249,6,1396,350,25,1772
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SAL80132,1,Weetangera,1395,1404,2795,66,62,130,194,192,...,0,0,278,398,71,7,750,153,24,930
SAL80133,0,Weston,1933,2067,4000,122,107,228,264,269,...,0,0,409,484,141,14,1048,381,45,1469
SAL80134,1,Whitlam,3,5,7,0,4,4,0,0,...,0,0,0,0,0,0,0,0,0,0
SAL80135,0,Wright,1820,1989,3808,138,143,281,224,267,...,0,4,377,480,117,15,992,397,88,1481
SAL80136,0,Yarralumla,1498,1628,3120,67,56,123,173,189,...,0,7,433,368,73,7,881,328,32,1233