In [26]:
import pandas as pd, numpy as np
from os import listdir

metadata = pd.read_excel(
    "./metadata.xlsx",
    sheet_name=1,
    header=10
)

file_names = listdir("./census_data")
file_names = sorted([file_name for file_name in file_names if ".csv" in file_name])

for i, file_name in enumerate(file_names):
    
    key = file_name.split("_")[1]
    
    file_data = pd.read_csv(
        f"./census_data/{file_name}",
        index_col="SAL_CODE_2021"
    )
    
    file_data.columns = [
        metadata[
            (metadata.DataPackfile == key) &
            (metadata.Short == string)
        ].iat[0, 2].lower() for string in file_data.columns
    ]
            
    if i == 0:
        suburb_data = file_data
    
    else:        
        suburb_data = suburb_data.join(
            file_data,
            lsuffix=f"_v{i}"
        )

suburb_data.to_csv("./raw_suburb_data.csv")

act_suburbs = pd.read_csv(
    "./act_suburbs.csv"
)
act_suburbs.code = "SAL" + act_suburbs.code.astype("str")

In [35]:
data = pd.DataFrame(
    index=act_suburbs.code,
    data={
        "name": act_suburbs.name.to_list(),
        "belco":  act_suburbs.belco.to_list()
    }
)
suburb_data = suburb_data.loc[data.index]

data["population"] = suburb_data.total_persons_persons
data

                name  belco  population
code
SAL80017       Acton      0        2848
SAL80018     Ainslie      0        5376
SAL80019      Amaroo      0        6129
SAL80020      Aranda      1        2605
SAL80021       Banks      0        5100
...              ...    ...         ...
SAL80132  Weetangera      1        2795
SAL80133      Weston      0        4000
SAL80134     Whitlam      0           7
SAL80135      Wright      0        3808
SAL80136  Yarralumla      0        3120

[120 rows x 3 columns]

In [34]:
suburb_data

,total_persons_males,total_persons_females,total_persons_persons,age_groups_0_4_years_males,age_groups_0_4_years_females,age_groups_0_4_years_persons,age_groups_5_14_years_males,age_groups_5_14_years_females,age_groups_5_14_years_persons,age_groups_15_19_years_males,...,worked_at_home_persons,did_not_go_to_work_males,did_not_go_to_work_females,did_not_go_to_work_persons,method_of_travel_to_work_not_stated_males,method_of_travel_to_work_not_stated_females,method_of_travel_to_work_not_stated_persons,total_males,total_females,total_persons
code,,,,,,,,,,,,,,,,,,,,,
SAL80017,1277,1569,2848,0,5,5,0,0,0,573,...,185,122,228,355,6,0,5,546,821,1361
SAL80018,2536,2836,5376,138,120,261,334,303,634,144,...,395,101,193,297,0,0,0,1267,1413,2674
SAL80019,3038,3093,6129,181,193,373,525,484,1013,246,...,399,99,192,288,6,4,7,1719,1682,3401
SAL80020,1270,1335,2605,61,78,142,206,163,371,63,...,194,48,90,136,0,0,0,649,655,1307
SAL80021,2545,2558,5100,162,158,319,390,369,764,188,...,213,132,183,314,8,5,13,1520,1463,2986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SAL80132,1395,1404,2795,66,62,130,194,192,385,116,...,198,64,98,158,0,0,0,730,698,1427
SAL80133,1933,2067,4000,122,107,228,264,269,530,117,...,234,85,146,228,0,0,6,942,967,1903
SAL80134,3,5,7,0,4,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SAL80135,1820,1989,3808,138,143,281,224,267,492,69,...,265,65,145,212,0,0,3,1194,1227,2424
SAL80136,1498,1628,3120,67,56,123,173,189,353,91,...,257,42,74,119,0,0,10,760,726,1483